<app-search-bar></app-search-bar>
<div class="barra_superior">
  <a href="">¡Descubre el Sabor del Autentico Cafe!</a>
  <img src="" alt="">
</div>
<router-outlet></router-outlet>
<div id="slider">
  <input type="radio" name="slider" id="slide1" checked>
  <input type="radio" name="slider" id="slide2">
  <input type="radio" name="slider" id="slide3">
  <input type="radio" name="slider" id="slide4">
  <div id="slides">
     <div id="overflow">
        <div class="inner">
           <div class="slide slide_1">
              <div class="slide-content">

                 <img src="assets/img/100%25%20Boyacense%20(2).png" class="slide-image" alt="imagenes">

              </div>
           </div>
           <div class="slide slide_2">
              <div class="slide-content">

                 <img src="assets/img/imagen1.png" class="slide-image" alt="imagenes">

                 <img src="assets/img/100%25%20Boyacense.png" class="slide-image" alt="imagenes">

              </div>
           </div>
           <div class="slide slide_3">
              <div class="slide-content">

                 <img src="assets/img/mg2.jpg" class="slide-image" alt="imagenes">

                 <img src="assets/img/Imagen1.png" class="slide-image" alt="imagenes">
              </div>
           </div>
           <div class="slide slide_4">
              <div class="slide-content">
                 <img src="assets/img/mg3.jpg" class="slide-image" alt="imagenes">
              </div>
           </div>
        </div>
     </div>
  </div>
  <div id="controls">
     <label for="slide1"></label>
     <label for="slide2"></label>
     <label for="slide3"></label>
     <label for="slide4"></label>
  </div>
  <div id="bullets">
     <label for="slide1"></label>
     <label for="slide2"></label>
     <label for="slide3"></label>
     <label for="slide4"></label>
  </div>
</div>

<div class="products-grid">

  <div class="product">
    <img src="assets/img/cafe-tradicional-250gr.jpg" alt="Producto 1">
    <h3>Café Oma</h3>
    <!-- <p>Descripción del Producto 3</p>-->
    <p>Precio: $13.500</p>
    <button>Comprar</button>
  </div>

  <div class="product">
    <img src="assets/img/bag2.jpg" alt="Producto 3">
    <p>
    </p>
    <h3>Café Wake Me Up</h3>
    <!-- <p>Descripción del Producto 3</p>-->
     <p>Precio: $22.990</p>
     <button>Comprar</button>
   </div>

  <div class="product">
    <img src="assets/img/bagCoffee1.jpg" alt="Producto 4">
    <p>
    </p>
    <h3>Coffe Beans</h3>
    <!-- <p>Descripción del Producto 3</p>-->
    <p>Precio: $15.999</p>
    <button>Comprar</button>
  </div>

  <div class="product">
    <img src="assets/img/PrensaFrancesa%20(1).png" alt="Producto 2">
    <h3>Prensa Francesa</h3>
    <!-- <p>Descripción del Producto 3</p>-->
    <p>Precio: $55.000</p>
    <button>Comprar</button>
  </div>


 </div>
 <footer class="footer">
   <div class="footer-content">
     <div class="footer-section">
       <h4>Contacto</h4>
       <p class="contact-info">Correo electrónico: CoffeCabana@ecommerce.com</p>
       <p class="contact-info">Teléfono: +.....</p>
     </div>
     <div class="footer-section">
       <h4>APRENDE MÁS</h4>
       <ul>
         <li><a href="#">Hecho en Colombia</a></li>
         <li><a href="#">Déjanos tu comentario</a></li>
       </ul>
     </div>
     <div class="footer-section">
       <h4>Coffe Cabana</h4>
       <ul>
         <li><a routerLink="/productos">Productos</a></li>
         <li><a routerLink="/mi-carrito">Mi Carrito</a></li>
         <li><a routerLink="/contacto">Contacto</a></li>
       </ul>
     </div>
     <div class="footer-section">
       <h4>Redes Sociales</h4>
       <ul>
         <li><a href="#">Facebook</a></li>
         <li><a href="#">Twitter</a></li>
         <li><a href="#">Instagram</a></li>
       </ul>
     </div>
   </div>
   <p class="rights">© 2023 Todos los derechos reservados.</p>
 </footer>
