<div class="wrapper fadeInDown">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">

  <div class="cuadro">
    <img src="assets/img/homePage.png" class="imagen">
    <div class="search-bar">
      <input type="text" #searchInput (input)="onSearch(searchInput.value)" placeholder="Buscar..." />
    </div>
  </div>
</div>
