<div class="productCart-wrapper">
  <article class="productCart" *ngFor="let product of myCart$ | async">
    <div  class="productCart-body">
      <p>{{product.nombre_producto}}</p>
      <div class="productCart-body-info">
        <p>{{product.valorLote}}</p>
        <p>{{product.cantidad}}</p>
      </div>
    </div>
  <div class="productCart-total">
    <p>productos* unidaes</p>
  </div>
  <div class="productCart-buttons">
    <div class="productCart-buttons-operators">
      <i  class="fa-solid fa-minus"></i>
      <span>{{product.cantidad}}</span>
      <i class="fa-solid fa-plus"></i>
    </div>
    <i class="fa-solid fa-trash"></i>
  </div>
</article>
<div class="cartTotal">
  <p class="cartTotal-total"> Total: $ 0</p>
</div>
<button class="cart-btn">Ir a Carrito</button>
</div>
