<html>
  <head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
</head>
<div class="barra_superior">
  <a href="">¡Descubre el Sabor del Autentico Cafe!</a>
  <img src="" alt="">
</div>
<body class="container">

  <div>
  <mat-grid-list [cols]="getGridColsClass()"[rowHeight]="'1:1'" [gutterSize]="'20px'">
      <mat-grid-tile *ngFor="let producto of productos" class="product-tile">
        <mat-card class="product-card" (click)="goToDetails(producto.id)">
          <img [src]="producto.pathimag" alt="{{ producto.name }}" class="product-image">
          <mat-card-content class ="product-info">
            <h3>{{ "$ " + producto.valorLote.toLocaleString('es-ES') }}</h3>
            <p>{{ producto.nombre_producto}}</p>
            <p>{{ producto.descripcion }}</p>
            
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</body>

</html>

