
  .product-tile {
    max-width: 250px;
    background-color: #ffffff; 
    border-radius: 10px;
    margin: 10px;
  }
  .product-card{
    /* margin: 20px; */
    max-width: 250px; 
    height: 500px;
    height: auto; 
    background-color: #f1efee; 
  }
  
  .product-image {
    max-width: 250px;
    margin-top: 10px; 
    margin-left: 10px;
    margin-right: 10px;
    
  }
  .product-info {

    max-height: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  
  }
  body {
      font-family: 'Cormorant Garamond', sans-serif;
      height: 95vh;
  }
  h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: 24px; /* Cambia el tamaño según tu preferencia */
    color: #1a330c; /* Cambia el color según tu preferencia */
    font-weight: 400;
  }
  p {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 16px; /* Cambia el tamaño según tu preferencia */
    color: #1a330c; /* Cambia el color según tu preferencia */
    align-content: center;
  }

  