
  .product-tile {
    width: 60px;
    height: 70px;
    background-color: #f7f7f5; 
    border-radius: 10px;
  }
  .product-card{

    max-width: 90%; 
    max-height: 90%; 
    background-color: #bcbcb5; 
  }
  
  .product-image {
    max-width: 80%; /* La imagen se ajustará al ancho del mat-card */
    max-height: 90%; /* Altura máxima para la imagen */
    margin: auto; /* Centra la imagen */
    margin-top: 10px; /* Espacio superior para la imagen */
  }
  .product-info {
    padding: 10px; /* Espacio interno para el contenido de texto */
    height:   50%; /* Altura fija para el contenido de texto */
    /* overflow: auto; Añade barras de desplazamiento si el contenido es demasiado largo */
  }
