<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets\img\logo.png" id="icon" alt="User Icon" />
      </div>
      Login
      <form>
        <input #usuario type="text" id="usuario" class="fadeIn second" name="usuario" placeholder="usuario">
        <input #contrasena type="text" id="contrasena" class="fadeIn third" name="login" placeholder="contrasena">
        <button type="button" class="btn btn-primary" (click)="login(usuario.value, contrasena.value)">Iniciar sesión</button>
      </form>


    </div>
  </div>


