.cart {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f8f8f8;
}
h2,thead{
  margin-top: 30px;
  color: #0d0d0d;
  text-align: center;
  font-family: "ubuntu";
  color: #a66e66;

}

.barra_superior{
  margin-top: 100px;
  background: #a66e66;
  justify-content: center;
  text-align: center;
  font-family: "ubuntu";
  color: #fff;
}

a {
  color: #ffffff;
  font-size: 20px;
  transition: 0.2s;
  text-decoration: none;
}

.table{
  margin-top: 30px;
  color: #0d0d0d;
  text-align: center;
  font-family: "ubuntu";
  color: #a66e66;
}
