.fond{
  background-color: rgb(237,237,237);
  margin-top: 20px;
  font-family: 'Cormorant Garamond', sans-serif;
  height: 85vh;
  align-items: center;

}
.barra_superior{
  margin-top: 100px;
  background: #a66e66;
  justify-content: center;
  text-align: center;
  font-family: "ubuntu";
}
a {
  color: #ffffff;
  font-size: 20px;
  transition: 0.2s;
  text-decoration: none;
}

.product-image {

  max-width: auto;
  max-height: 500px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: contain;

}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.product-desc.product-container {
  margin-top: 0; /* Establecer el margen superior a 0 para acercar el contenido al borde superior */
}

/* Estilos para el contenedor principal */
.wrapper {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  width: 85%;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); /* Aplicar sombra en los cuatro lados */
  margin-top: 20px;
  height: 85vh;
}
#product-desc {
  width: 1150px;
  background-color: #fff;
  border-radius: 5px;

  display: flex;

}
.product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;


}

.product-image {
  width: 570px;
  padding: 20px;
  margin-right: 31px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  margin-left: 0px;
  margin: 0px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.product-details {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 80px;
  padding-right: -300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin-top: 0px;
  margin: 10px;
}
p {

  font-size: 18px;
  /* Cambia el tamaño según tu preferencia */
  color: #1a330c;
  /* Cambia el color según tu preferencia */
  align-content: center;
}
.h3{
  font-size: 50px;
  /* Cambia el tamaño según tu preferencia */
  color: #1a330c;
  /* Cambia el color según tu preferencia */
  align-content: center;
}
.product-details h1 {
  font-size: 24px;
  margin-top: 0;
}

.product-details p {
  margin-bottom: 10px;
}

.product-details .price {
  font-size: 25px;
  font-weight: bold;
}

.product-details .ml {
  font-size: 14px;
}

.actions {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10px; /* Agrega relleno superior para separar el contenido del div */
  padding-bottom: 10px; /* Agrega relleno inferior si es necesario */
}

.add-to-cart {
  background-color: #db8c52; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  padding: 15px 30px; /* Espaciado interno (ajusta según sea necesario) */
  font-size: 14px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  border-radius: 5px; /* Bordes redondeados */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cuantity{
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  -webkit-appearance: none; /* Elimina los botones de incremento y decremento en navegadores WebKit */
  appearance: none;
  margin: 0;
  background-color: #f5f5f5; /* Cambia el color de fondo */
  appearance: number-input;
}

.cuantity_g {
  display: flex; /* Cambia la disposición a flex para alinear los elementos en una fila */
  text-align: center; /* Centra el texto horizontalmente */
  justify-content: center;
  align-items: center;
  padding-top: 10px; /* Agrega relleno superior para separar el contenido del div */
  padding-bottom: 10px; /* Agrega relleno inferior si es necesario */
}


/* piede de pagina*/


.site-footer
{
  margin-top: 50px;
  background-color:#747474;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ffffff;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#ffffff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffffff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{

/*PIE DE PAGINA*/
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.text-justify{
  color: #fff;
}

.copyright-text{
  color: #fff;
}






