@import '~@fortawesome/fontawesome-free/css/all.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "ubuntu";
}
img {
  width: 100%;
  margin-top: 5px;
}

.barra_buscador{

  margin-top: 10px;
  justify-content: center;
  text-align: center;
  font-family: "ubuntu";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.barra_buscador input[type="text"] {
  width: 48%; /* Ajusta el valor del ancho según sea necesario */
  border: none; /* Elimina todos los bordes */
  border-bottom: 2px solid #a66e66; /* Establece el borde inferior con el color especificado */
  outline: none; /* Elimina el contorno cuando el campo de entrada está enfocado */
  font-family: "ubuntu";
}

header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: #fff;
  position: fixed; /* Fija la barra de navegación */
  top: 0; /* Asegura que la barra de navegación se mantenga en la parte superior */
  width: 100%; /* Ajusta el ancho para ocupar toda la pantalla */
  z-index: 1000;
}
header .header-left {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
header .header-left .logo {
  width: 275px;
  height: 368px;/*sube el logo*/
}
header .header-left nav {
  margin-top: 34px;
  margin-left: 50px;
}
header .header-left nav ul {
  display: flex;
}
nav ul li a {
  display: block;
  color: #c59b7e;
  font-size: 20px;
  padding: 5px 10px;
  transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
  color: #84644c;

}
nav .login-signup {
  display: none;
  margin-left: -30px;
}
header .header-right {
  display: flex;
  align-items: center;
  margin-left: -30px;
  text-align: right;
}
header .login-signup {
  margin-left: -20px;
  color: #cfd9e0;
  font-weight: bold;

}

header .login-signup a {
  margin-left: 0px;/*se mueve a la derecha pero mo mueve el a con el incon del carrito*/
  margin-top: 30px;
  display: inline-block;
  color: #ffffff;
  background: #db8c52;
  padding: 5px 12px;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.2s; /* Agrega una transición de color de fondo */
}
header .login-signup a:hover {
  background: #af510b; /* Cambia el color de fondo al pasar el cursor */

}

header .header-right .hamburger {
  margin-left: 20px;
  cursor: pointer;
  display: none;
}
header .header-right .hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #fff;
}
@media only screen and (max-width: 1000px) {
  header {
      padding: 0 20px;
  }
  header .header-right .hamburger {
      display: block;
  }
  header .header-left nav {
      margin: 0;
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: fit-content;
      background-color: #ffffff;
      padding: 30px;
      transition: 0.3s;
      text-align: center;
      z-index: -1;
  }
  header .header-left nav.active {
      top: 70px;
  }
  header .header-left nav ul {
      display: block;
  }
}
@media only screen and (max-width: 500px) {
  nav .login-signup {
      display: block;
      margin-top: 20px;
  }
  header .header-right .login-signup {
      display: none;
  }
}
.button{
  border: none;
  background-image: url('https://cdn-icons-png.flaticon.com/512/2311/2311526.png');
  background-size: contain; /* Ajusta el tamaño de la imagen para que quepa dentro del botón */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Alinea la imagen al centro del botón */
  font-family: "ubuntu";
  border-bottom: 2px solid #a66e66; /* Establece el borde inferior con el color especificado */
  color: transparent;
  background-color: transparent;
}

.fa-duotone.fa-cart-shopping {
  color: #000000; /* Cambia este color según tus preferencias */
}


.header-right {
  display: flex;
  justify-content: space-between;
}

.login-signup ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card_icon{
  p{
    background-color: #af510b;
    font-size: 0.8 rem;
    margin-top: 10px;
  }
}

.cart{
  display: none;
}
.show{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  position:absolute;
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  right: 0px;
  top: 83px;
  min-width: 40%;
  app-folding-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.numner_total_productos{
  margin-top: 0px;
  color: #fe1212;
  margin-right: auto;
}

.footer-section:nth-child(3) a {
  color: #000 !important;
}


.footer-section:nth-child(4) a {
  color: #000 !important;
}

.footer-section:nth-child(2) a {
  color: #000 !important;
}
