<!DOCTYPE html>
<router-outlet></router-outlet>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header *ngIf="showNavigation">
        <div *ngIf="menuTipe !== 'login'" class="header-left" >

          <div class="barra_buscador">
            <input type="text" #searchInput (input)="onSearch(searchInput.value)" placeholder="Busca cualquier producto de la tienda aqui">
            <button  class="button">Buscar</button>
          </div>
            <div class="logo">
                <img src="assets\img\21.png" alt="Logo" width="300" height="300" class="d-inline-block align-text-top">
            </div>
            <div >
            <nav>
                <ul >

                    <li>
                        <a href="" class="active">Inicio</a>
                    </li>
                    <li>
                        <a [routerLink]="['/product-list']">Productos</a>
                    </li>
                    <li>
                        <a href="">Categorias</a>
                    </li>
                    <li>
                        <a href="">Ayuda</a>
                    </li>
                    <li>
                        <a href="">contacto: coffecabana@coffecaba.com</a>
                    </li>
                </ul>
            </nav>
          </div>
        </div>
        <div class="header-right">
          <div [ngSwitch]="menuTipe" class="login-signup">
            <ul>
              <a *ngIf="!loggedIn" [routerLink]="['/login']">Iniciar sesión</a>
              <a (mouseover)="openCarModal()" *ngIf="!loggedIn" [routerLink]="['/car']">Carrito</a>
                <div class="modal" *ngIf="showModal">
                  <app-car></app-car>
                  <button (mouseout)="closeCarModal()" class="btn btn-sm btn-success">Cerrar</button>
                  <button class="btn btn-sm btn-success" [routerLink]="['/car']">Pagar</button>
                </div>
              <a *ngIf="loggedIn" [routerLink]="['/car']">Carrito</a>
              <a *ngIf="loggedIn" href="" (click)="logout()">Cerrar sesión</a>
            </ul>
          </div>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </header>
    <script>
        hamburger = document.querySelector(".hamburger");
        nav = document.querySelector("nav");
        hamburger.onclick = function () {
            nav.classList.toggle("active");
        }
    </script>
</body>

</html>



